
/*index page*/
body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(./assets/prism/prism.png);

	

}

/*@media screen and (max-width: 600px) {*/
/*	body {
		float: none;
	}
}*/

@media (max-width: 768px) {
	.header{
		font-size:25px;
	}	
}

@media (max-width: 768px) {
	.mainheader{
		flex-direction: column;
	}	
}

@media (max-width: 768px) {
	.mainbody{
		width:100%;
	}	
}
@media (max-width: 768px) {
	hr {
		width:100%;
	}	
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}

/*@media (max-width: 768px) {
	.bio {
		width:100%;
	}	
}*/
/*@media (max-width: 768px) {
	.mainheader{
		width:100%;
	}	
}*/

.mainheader{
	border-bottom: 3px solid #777777;
	margin-bottom: 20px;
	margin-left:50px;
}
.header {
	font-family:'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	border:1px solid #cccccc;
	padding: 10px;
	text-align: center;
	color: white;

}

/*.menu {
	float:right;
	margin-right: 100px;
	margin-top: 10px;
}*/

/*.name {
	margin-left: 135px;
	width: 50%;

}*/

.nav {
	padding-left: 3px;
	padding-top:10px;
	margin-right: 10px;
	text-align: center;
}

.text-center{

}
.navdetails{
	color: #777777;
	text-align:center;
}

.bio {
	width: 90%;
	margin-right: 10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	color: #4aaaa5;



}
.mainbody{
	border-radius: 5px;
	background: white;
	padding:20px;
	margin-right:50px;
	margin-left:50px;

}

.text {
	float: left;
}

.picture {
	float:left;
	width: 200px;
	height:250px;
	border:solid black;
	border-radius: 10px;
	
}
.portfolioimg {
	float:left;
	width: 250px;
	height: 200px;
	border-radius: 10px;
	z-index: -1;
}

.container {
	position: relative;
	width: 960px;
	text-align: center;
	padding: 20px;
}

.wordGuess {
	position: absolute;
	top:150px;
	left: 15px;
	padding-right:48px;
	padding-left: 65px;
	background-color: black;
	color: white;

}

.rpgGame {
	position: absolute;
	top:150px;
	left: 15px;
	padding-right:90px;
	padding-left: 77px;
	background-color: black;
	color: white;
}

.infoWidget {
	position: absolute;
	top:150px;
	left: 15px;
	padding-right:48px;
	padding-left: 65px;
	background-color: black;
	color: white;
}

.triviaGame {
	position: absolute;
	top:150px;
	left: 15px;
	padding-right:48px;
	padding-left: 65px;
	background-color: black;
	color: white;
}

.rockpaperScissors {
	position: absolute;
	top:150px;
	left: 15px;
	padding-right:48px;
	padding-left: 65px;
	background-color: black;
	color: white;
}

hr {
	border-bottom: 3px solid grey;
	width: auto;
	margin-bottom:30px;
}
p {
	margin-right:10px;
	padding-left:225px;

	
}
form {
	background: white;
	padding: 20px;
}
footer{
	text-align: center;
	background: beige;
	color: grey;
	border-top:2px solid grey;
	font-size: 9px;
	margin-right:0px
	margin-left0px;
	border-top: 8px solid #4aaaa5;
}

/*about me page*/